@model IEnumerable<LibraryDomain.Model.ResearcherWork>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ResearcherId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScientificWorkId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contribution)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ResearcherId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ScientificWorkId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contribution)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="chart_div" style="width: 100%; height: 500px;"></div>

@section Scripts {
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            $.ajax({
                url: '/api/Chart/ResearcherWorkTimeData',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    var dataArray = [['Date', 'Count']];
                    data.forEach(function (item) {
                        dataArray.push([item.date, item.count]);
                    });

                    var data = google.visualization.arrayToDataTable(dataArray);

                    var options = {
                        title: 'Research Work Contributions Over Time',
                        pieHole: 0.4, // Creates a donut chart
                        chartArea: { width: '70%', height: '70%' }
                    };

                    var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
                    chart.draw(data, options);
                },
                error: function (error) {
                    console.log("Error loading chart data: " + error);
                }
            });
        }
    </script>
}
